<h1><%= @task.title %></h1>
<p><%= @task.details %></p>
<input type="checkbox" <%= @task.completed == true ? "checked" : nil %>>This task is not completed yet</input>
<br>
<%= link_to "Edit this task", "/tasks/#{@task.id}/edit" %>
<%= link_to "Back to list", tasks_path %>
